---
import "../../styles/root.scss";
import Configurator from "../../layouts/configurator.astro";
import PersistentWindow from "../../components/persistentWindow.astro";
import { cardList } from "../../data/cardData";
import { bodyTypes } from "../../data/cardData";

import noImgPlchldr from "../../assets/noImg.svg";

const cardId = "fullbody";
const cardData = cardList[cardId];

function getTagClass(tag: string) {
  const tagString = tag.toLowerCase();
  if (tagString === "best selling") return "tag-bs";
  if (bodyTypes.includes(tagString)) return "tag-btype";
  return "";
}
---

<PersistentWindow ignoreScrollCheck />
<Configurator>
  <div class="cardBody" id={cardId} transition:name={`cardIMGG-${cardId}`}>
    <div class="imgGrid">
      <div class="imgContainer">
        <img
          src={cardData.images[0].src}
          alt={cardData.images[0].alt}
          class="img"
          style={cardData.images[0].pos
            ? `object-position:${cardData.images[0].pos}`
            : cardData.images[0].style}
        />
      </div>
      <div class="imgContainer">
        <img
          src={cardData.images[1].src}
          alt={cardData.images[1].alt}
          class="img"
          style={cardData.images[1].pos
            ? `object-position:${cardData.images[1].pos}`
            : cardData.images[1].style}
        />
      </div>
      <div class="imgContainer">
        <img
          src={cardData.images[2].src}
          alt={cardData.images[2].alt}
          class="img"
          style={cardData.images[2].pos
            ? `object-position:${cardData.images[2].pos}`
            : cardData.images[2].style}
        />
      </div>
      <div class="imgContainer">
        <img
          src={cardData.images[3].src}
          alt={cardData.images[3].alt}
          class="img"
          style={cardData.images[3].pos
            ? `object-position:${cardData.images[3].pos}`
            : cardData.images[3].style}
        />
      </div>
    </div>
    <div class="infobox">
      <div class="infocel1">
        <div class="typeTitle">{cardData.title}</div>
        <div class="description" set:html={cardData.description} />
        <div class="tags">
          {
            cardData.tags.map((tag) => (
              <span class={`tag ${getTagClass(tag)}`}>{tag}</span>
            ))
          }
        </div>
        <div class="priceBox">
          <span class="startsFrom">Starts from...</span>
          <div class="price">€{cardData.price}</div>
        </div>
      </div>
    </div>
  </div>
</Configurator>
<div class="configWindow">
  <!-- //todo: form components -->
</div>

<script>
  //document.documentElement.setAttribute('data-theme', 'light');
</script>

<style>
  .cardBody {
    --cardRounding: 50px;
    --animDur: 0.3s;
    display: flex;
    width: 100vw;
    height: 100vh;
    display: flex;
    background-color: var(--base);
    padding: 1rem;
    transition: width var(--animDur) var(--sleek);
    //border-radius: var(--cardRounding);
    border: 1px solid white;
    transition:
      background 0.2s var(--sleek),
      border 0.2s var(--sleek);
  }

  .configWindow {
    width: 100%;
    background: rgb(58, 39, 39);
    overflow-y: scroll;
  }

  .infobox {
    display: flex;
    justify-content: flex-end;
    color: var(--fore);
    padding: 0 1em;
    position: relative;
    transition: color 0.2s var(--sleek);
  }

  .infocel1 {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 60%;
  }

  .typeTitle {
    font-size: 6em;
    font-family: var(--doto);
    font-weight: 900;
    margin-bottom: 0.2em;
  }

  .description {
    font-size: 1.5em;
    font-family: var(--content);
    font-weight: 300;
  }

  .tags {
    display: flex;
    margin-top: 1em;
    gap: 0.5em;
    flex-wrap: wrap;
    justify-content: flex-end;
  }

  .tag {
    font-family: var(--doto);
    font-weight: 900;
    background: var(--primSecondary);
    color: var(--fore);
    padding: 0.2em 0.8em;
    border-radius: 20px;
    box-sizing: border-box;
    transition:
      background 0.2s var(--sleek),
      color 0.2s var(--sleek);

    &.tag-best {
      background: gold;
      color: black;
    }

    &.tag-btype {
      border: 1px solid var(--primSecondary);
      background: transparent;
      color: var(--accent);
    }
  }

  .infocel2 {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    height: 100%;
    margin-right: 1em;
    right: 0;
  }

  .priceBox {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 3em;
    transition: all var(--animDur) var(--sleek);
  }

  .startsFrom {
    font-family: var(--content);
    font-weight: 400;
    font-size: 0.3em;
    color: var(--foreSecondary);
    transform: translateY(-0.5em);
    transition: color 0.2s var(--sleek);
  }

  .price {
    font-family: var(--content);
    font-weight: 900;
    font-size: 1em;
    color: var(--fore);
    transition: color 0.2s var(--sleek);
  }

  .imgGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5em;
  }

  .imgContainer {
    --imgSize: 100%;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    transition: all var(--animDur) var(--sleek);

    --imgGridRounding: calc(var(--cardRounding) / 1.5);
  }

  .imgContainer:nth-child(1) {
    border-radius: var(--imgGridRounding) 0 0 0;
  }

  .imgContainer:nth-child(2) {
    border-radius: 0 var(--imgGridRounding) 0 0;
  }

  .imgContainer:nth-child(3) {
    border-radius: 0 0 0 var(--imgGridRounding);
  }

  .imgContainer:nth-child(4) {
    border-radius: 0 0 var(--imgGridRounding) 0;
  }

  .img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: transform var(--animDur) ease-in-out;
  }
</style>
